<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <% styles.forEach((style) => { %>
            <link rel="stylesheet" href="/assets/css/<%= style %>.css">
        <% }); %>

        <title><%= title %></title>
    </head>
    <body>
        <% if (body){ %>
            <%- include(body) %>
        <% } %>
    </body>
</html>